<o-form-layout-manager attr="Attendance" mode="tab" title="ATTENDANCE">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="AttendanceTable" 
            service="Attendance" 
            entity="Attendance" 
            title="ATTENDANCE"
            keys="id"
            columns="id;employee_id;date;status" 
            header-actions="R;D"
            visible-columns="id;employee_id;date;status"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="employee_id" title="employee_id">
    <o-table-cell-renderer-service attr="employee_id" 
        service="Employee" entity="EmployeeType" columns="id;first_name"
        parent-keys="id:employee_id"
        value-column="first_name" keys="employee_id"
        visible-columns="first_name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-date-input #date attr="date" type="timestamp" label="date" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-table-column #status attr="status" title="status" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>