<o-form-layout-manager attr="EmployeeDeduction" mode="tab" title="EMPLOYEEDEDUCTION">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="EmployeeDeductionTable" 
            service="EmployeeDeduction" 
            entity="EmployeeDeduction" 
            title="EMPLOYEEDEDUCTION"
            keys="id"
            columns="id;deduction_id;employee_id" 
            header-actions="R;D"
            visible-columns="id;deduction_id;employee_id"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="deduction_id" title="deduction_id">
    <o-table-cell-renderer-service attr="deduction_id" 
        service="Deduction" entity="DeductionType" columns="id;name"
        parent-keys="id:deduction_id"
        value-column="name" keys="deduction_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column attr="employee_id" title="employee_id">
    <o-table-cell-renderer-service attr="employee_id" 
        service="Employee" entity="EmployeeType" columns="id;first_name"
        parent-keys="id:employee_id"
        value-column="first_name" keys="employee_id"
        visible-columns="first_name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>