<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="name" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="Benefit_form_edit" 
        service="Benefit" 
        entity="Benefit" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #name attr="name" label=" name*" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #description attr="description" label="description" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #id attr="id" label="id" type="integer" editable="no" required="no" ></o-integer-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="EMPLOYEEBENEFIT-benefit_id">
    <div layout-padding>
      <o-table 
        attr="EmployeeBenefitTable" 
        service="EmployeeBenefit" 
        entity="EmployeeBenefit" 
        keys="id"
        parent-keys="benefit_id:id"
        columns="id;benefit_id;employee_id"  
        horizontal-scroll="yes"
        detail-form-route="EmployeeBenefit" 
        edit-form-route="EmployeeBenefit"
        visible-columns="id;benefit_id;employee_id"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="benefit_id" title="benefit_id">
    <o-table-cell-renderer-service attr="benefit_id" 
        service="Benefit" entity="BenefitType" columns="id;name"
        parent-keys="id:benefit_id"
        value-column="name" keys="benefit_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="employee_id" title="employee_id">
    <o-table-cell-renderer-service attr="employee_id" 
        service="Employee" entity="EmployeeType" columns="id;first_name"
        parent-keys="id:employee_id"
        value-column="first_name" keys="employee_id"
        visible-columns="first_name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>